
@-webkit-keyframes shadowPulse {
  0% {
    //@include transform(scale(.9));
    //transform: scale3d(0.9, 0.9, 0.9);
  }
  70% {
    //@include transform(scale(1));
    //transform: scale3d(1, 1, 1);
    box-shadow: 0 0 0 50px rgba(242,208,36, 0);
  }
  100% {
    //@include transform(scale(.9));
    //transform: scale3d(0.9, 0.9, 0.9);
    box-shadow: 0 0 0 0 rgba(242,208,36, 0);
  }
}