
//.text-underline {
//  max-width: 100%;
//  &::after {
//    content: '';
//
//    @apply .block;
//    @apply .h-r-1;
//    //@apply .w-full;
//    //@apply .-mt-4.5;
//    @apply .-mt-r-2;
//    @apply .bg-yellow;
//
//    @screen sm {
//      @apply .hidden;
//    }
//  }
//
//  //white-space: nowrap;
//  //text-overflow: ellipsis;
//  //overflow: hidden;
//}

.text-underline {
  & span {
    background-image: linear-gradient(to right, config("colors.yellow") 0%, config("colors.yellow") 100%);
    background-repeat: repeat-x; // make it horizontal
    background-position: 0 82%; // change the second value to adjust how far from the top the underline should be
    background-size: 100% 0.3em; // change the second value to the desired height of the underline
  }
}

.text--bordered {
  @apply .relative .pl-3;
}

.text--bordered::before {
  @apply .absolute .bg-reddish;
  top: 0;
  bottom: 2px;
  left: 0;
  width: 3px;
  content: "";
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
