/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;


/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

// vendor deps
@import "../vendor/animate-css/animate.css";
@import "../vendor/fancybox/jquery.fancybox.min.css";
@import "../vendor/timeline-js-slider/css/timeline.min.css";
@import "../vendor/loading-btn/dist/ladda-themeless.min.css";
@import "../vendor/loading-btn/dist/ladda-themeless.min.css";

// Import components
@import "fonts";
@import "utils/animations";
@import "utils/bg";
@import "utils/text";
@import "components/typography";
@import "components/alignment";
@import "components/grid-layout";
@import "components/icons";
@import "components/headings";
@import "components/buttons";
@import "components/logo";
@import "components/forms";
@import "components/ui";
@import "components/menus";
@import "components/alerts";

// Import pages
@import "pages/auth";
@import "pages/account";
@import "pages/smart-contract";
@import "pages/404";

// Overrides
.fancybox-container {
  @apply .font-base;

  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);

  .contact-us-active & {
    @screen sm {
      @apply .z-50;
    }
  }
}

// Basic styles

html, body {
  height: 100%;
}

body {
  //@apply .font-base .font-normal .text-base .text-black .leading-normal .tracking-normal .antialiased;
  @apply .font-base .font-normal .text-base .text-black .leading-normal .tracking-normal .antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

svg {
  @apply .inline-block .fill-current;
  width: 100%; height: auto;
}

// Main styles

.content-wrapper {
  @apply .relative;
}

.container-wide {
  @apply .px-12;
}

.section-container {
  @screen md {
    @apply .px-5;
  }
}

.main-container {
  @apply .z-20;
  overflow: hidden;

  //.nav-opened & {
  //    -webkit-transform: translateX(-200px);
  //    -moz-transform: translateX(-200px);
  //    -ms-transform: translateX(-200px);
  //    -o-transform: translateX(-200px);
  //    transform: translateX(-200px);
  //    box-shadow: 0 0 50px rgba(black, .20);
  //}

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header {
  @apply .w-full .bg-white-darker .fixed .pin-t .pin-x .z-500 .shadow-grey-spread;
  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);

  & .main-header__container {
    @apply .relative .flex .items-center .z-20;
    @extend .container-wide;
    padding-top: 15px;
    padding-bottom: 15px;

    &__nav-trigger {
      @apply .hidden;
      @extend .btn-mobile, .btn-mobile--default, .btn-mobile--icon-hamb--black;

      @screen lg {
        @apply .flex;
      }
    }

    & .logo-wrapper {
      @apply .mr-10;

      //& .nav-mobile-btn {
      //  @apply .hidden;
      //}

      //.nav-opened & {
      //  @apply .flex .items-center .justify-between .m-0 .mb-12;
      //}
    }

    & .logo {
      @extend .logo--red;
    }

    & .download-btn > .btn {
      //@extend .btn--red;
      @extend .btn--accent;
    }
    //& .logo--red, & .btn--red {
    //  @apply .block;
    //}
    //
    //& .logo--white, & .btn--transparent {
    //  @apply .hidden;
    //}

    & .nav-desktop {
      @apply .relative .flex .flex-grow .items-center;

      & .nav-sections {
        @apply .relative .flex .flex-grow .items-center;

        & .nav-secondary {
          @apply .ml-auto;

          //.nav-opened & {
          //  @apply .m-0;
          //}
        }
      }

      @screen lg {
        @apply .hidden;
      }

      //.nav-opened & {
      //  @apply .w-full .h-full .flex .fixed .pin-t .pin-r .flex-col .justify-between;
      //  background: rgba(51, 51, 51, 0.9);
      //  padding: 1.5rem;
      //
      //  & .nav-sections {
      //    @apply .flex-col .flex-no-grow .my-auto;
      //  }
      //}

      //@screen lg {
      //  @apply .fixed .pin-t .pin-r .flex-col;
      //  width: 100%;
      //  //TODO: make sure this is supported in browsers
      //  //height: 100vh;
      //  height: 100%;
      //  background: #333;
      //  opacity: 0.9;
      //  padding: 5em 3rem;
      //}
    }


    & .nav__dropdown {
      width: auto;
      min-width: calc(100% + 15px);

      padding: 24px 0 0;
      margin: 0 -20px;

      &__cover {
        @apply .bg-white-darker;
        height: 28px;
        position: relative;
        top: 10px;
      }

      &__list {
        @apply .bg-white-darker;
        @apply .list-reset .shadow-grey-spread;
        padding: 13px 20px 15px;
      }
    }


    & .btn.btn--red {
      @apply .shadow-red-sm;

      &:hover {
        @apply .shadow-red-md;
      }
    }

    .language-wrapper {
      @apply .relative;
      margin-left: 20px;

      .nav-opened & {
        @apply .hidden;
      }

      @screen xl {
        @apply .ml-2;
      }

      @screen lg {
        @apply .ml-auto;
      }
    }

    //& .nav-wrapper-left {
    //  @screen lg {
    //    @apply .ml-auto;
    //  }
    //}

    @screen md {
      @apply .px-5;
    }

    //.nav-opened & .logo {
    //  @extend .logo--white, .logo--col;
    //}
  }

  &.main-header--transparent {
    @apply .absolute .bg-transparent .shadow-none;

    & .main-header__container {
      padding-top: 58px;
      padding-bottom: 58px;

      &__nav-trigger {
        @extend .btn-mobile--transparent, .btn-mobile--icon-hamb;
      }

      & .logo {
        @extend .logo--white;
      }

      & .download-btn > .btn {
        @extend .btn--accent;
      }

      //& .logo--red, & .btn--red {
      //  @apply .hidden;
      //}
      //
      //& .logo--white, & .btn--transparent {
      //  @apply .block;
      //}

      & .nav__dropdown {
        @apply .m-0;
        //min-width: 200px;
        padding: 2rem 0 0;

        &__cover {
          @apply .hidden;
        }

        &__list {
          @apply .bg-transparent .shadow-none;
          padding: 0;
        }
      }

      & .language-selector {
        &__control {
          @apply .bg-transparent .border-white .text-white;
        }

        &__arrow {
          @apply .text-white;
        }
      }

      //& .nav-trigger {
      //  @apply .border-yellow .text-white;
      //}

      @screen sm {
        @apply .py-6;
      }
    }

    //@screen lg {
    //  @apply .fixed .pin-t .pin-x;
    //}
  }

  & .main-header__container .language-selector .nav__dropdown {
    min-width: auto;
  }

  .nav-opened & {
    @apply .hidden;
  }

  &.is-minimized {
    //top: -82px;
    transform: translateY(-120%);
  }

  &.is-minimized .nav__dropdown {
    @apply .hidden;
  }


  //-webkit-transition: all 0.3s ease-in-out;
  //-moz-transition: all 0.3s ease-in-out;
  //-o-transition: all 0.3s ease-in-out;
  //transition: all 0.3s ease-in-out;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.scroll-up-btn {
  @apply .shadow-grey-shifted .rounded .ml-5;
  width: 61px;
  height: 61px;
  cursor: pointer;

  background: #fefefe url("../images/common/ico-arrow-up-page.svg") no-repeat center center;
  background-size: 39px 23px;

  &:hover {
    @apply .bg-grey-lighter;
  }

  //@screen sm {
  //  @apply .hidden;
  //}
}

// class applied to the main wrapper when mobile nav is opened
body.nav-opened {
  // makes it non scrollable
  @apply .overflow-hidden;
  //position: fixed;
  //left: 0;
  //right: 0;
}

.nav-mobile {
  @apply .hidden;

  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);

  .nav-opened & {
    @apply .w-full .h-full .fixed .pin-t .pin-r .flex .flex-col .justify-between .z-500 .py-6 .px-5 .overflow-hidden;
    //background: rgba(51, 51, 51, 0.9);
    background-color: #2d2d2d;

    & .logo-wrapper {
      @apply .mb-12 .text-center;
    }

    &__control {
      @apply .absolute;
      @extend .btn-mobile, .btn-mobile--transparent;
      top: 1.5rem;

      &--back {
        left: 1.25rem;
      }

      &--user {
        right: 1.25rem;
      }
    }

    .nav__item {
      @apply .ml-0 .mb-6;

      & > .nav__link {
        @apply .p-0 .text-white-darker;
        @extend .heading, .heading--sm;

        & .nav__link__arrow {
          border-top: 7px solid config("colors.white-darker");
        }
      }
    }
  }

  //& .nav-sections {
  //  @apply .flex-col .flex-no-grow .my-auto;
  //}
}

//.nav-mobile-btn {
//  @apply .flex .items-center .hidden .bg-transparent .border .border-black .px-2 .py-1 text-black;
//}

//.nav-trigger {
  //@apply .flex .items-center .hidden .bg-transparent .border .border-black .px-2 .py-1 text-black;
  //@extend .nav-mobile-btn;
  //Hamburger icon
  //&:before {
  //  @apply .inline-block;
  //  vertical-align: sub;
  //  text-align: center;
  //  content: '≡';
  //  font-size: 2.5em;
  //  line-height: 0;
  //}

  //.nav-opened & {
  //  //@apply .border-yellow .text-white;
  //  @apply .hidden;
  //}

//  @screen lg {
//    @apply .block;
//  }
//}

//.nav-opened .nav {
//  @extend .nav--col;
//}

.section-banner {
  //height: 870px;
  height: 700px;

  // TODO: change it later to get color from config
  background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9)), url("../images/banner/img-header.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;

  @screen lg {
    height: 650px;
  }

  //@screen md {
  //  height: 550px;
  //}
}

.section-banner__container {
  @apply .mx-auto .relative .flex .flex-col .h-full;
  @extend .section-container, .container-wide;

  & .section-banner__hero {
    @apply .flex .h-full;
  }

  & .social-expand-btn {
    @apply .hidden .absolute .rounded-full .shadow-grey-shifted;
    width: 60px;
    height: 60px;
    right: 22px;
    bottom: 40px;
    cursor: pointer;

    background-image: url("../images/common/ico-social-expand.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fefefe;
    background-size: 58px 60px;

    //&.is-active {
    //  @apply .bg-grey-lighter;
    //}

    @screen sm {
      @apply .block;
    }
  }

  & .social-links {
    @screen sm {
      @apply .invisible;
      opacity: 0;
    }

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @screen tablet&mobile {
    @apply .pt-12;
  }
}

.section-banner__col {
  @apply .flex .flex-auto;
  margin-top: 250px;

  @screen lg {
    //@apply .mt-auto;
    margin-top: 120px;
  }
  @screen lg {
    margin-top: 110px;
  }

  @screen sm {
    @apply .flex-col;
  }
}

.section-banner__body {
  @apply .mr-8;
  //width: 75%;
  max-width: 900px;

  background: transparent url(../images/banner/vincoin-cash-txt.svg) no-repeat left 7px;
  //background-size: 80% 67%;
  background-size: 727px 300px;

  &__title {
    @apply .text-white .uppercase;
    @extend .heading, .heading--lg;

    @screen xs {
      max-width: 228px;
    }
  }

  @screen xl {
    background-size: 600px 250px;
  }

  @screen lg {
    background-size: 470px 205px;
  }

  @screen md {
    background: none;
  }

  @screen sm {
    @apply .mr-3;
    width: 97%;
  }

  //@screen xs {
  //  width: 100%;
  //}
}

.social-wrapper {
  @apply .relative .ml-auto .flex-none .my-auto;
  top: 50px;
  z-index: 100;

  @screen lg {
    top: 0;
    z-index: 0;
  }
}

.logo-spin-wrapper {
  @apply .mr-8;
  width: 190px;
  height: 190px;
  //margin-right: 30px;

  & .logo-spin {
    width: 100%;
    height: 100%;
    background: transparent url("../images/svg/vnc-logo-w.svg") no-repeat left top;
    background-size: 100% 100%;

    -webkit-transition:all 0.6s;
    -moz-transition:all 0.6s;
    transition:all 0.6s;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
  }

  @screen lg {
    width: 150px;
    height: 150px;
  }

  @screen md {
    @apply .mr-4;
    width: 104px;
    height: 104px;
  }

  @screen sm {
    @apply .mr-0 .mb-4;
  }
}

.download-btn {
  @apply .block .ml-6;

  @screen xl {
    @apply .hidden;
  }
}

#particles-js--header {
  width: 100%;
  height: 1080px;
  position: absolute;
}

#particles-js--structure {
  width: 100%;
  height: 697px;
  position: absolute;
}

#particles-js--roadmap {
  width: 100%;
  height: 982px;
  position: absolute;
}

.scrolldown-icon-wrapper {
  @apply .hidden;
  @apply .mx-auto .mb-14;
  width: 34px;
  height: 112px;

  @screen md {
    @apply .hidden;
  }
}

.section-intro {
  background: transparent url("../images/intro/bckr-1-st-block.svg") no-repeat center bottom;
  background-size: auto;

  @screen lg {
    background-size: cover;
  }
}

.section-intro__container {
  @apply .mx-auto .relative .py-40;
  @extend .section-container;

  @screen xl {
    @apply .py-15;
  }
}

.block-idea, .block-mission {
  @apply .flex .justify-between;

  @screen lg {
    @apply .flex-col .items-center;
  }
}

.block-mission {
  @screen lg {
    @apply .flex-col-reverse .mt-12;
  }
}

.block-idea__body {
  @apply .relative .py-6 .pr-6 .mt-4;
  width: 52%;
  background: transparent url("../images/idea/idea-txt.svg") no-repeat left top;
  background-size: 100% auto;

  & .block-idea__cover-txt {
    @apply .absolute .pin-t .pin-l;
    //display: block;
    //min-width: 616px;
    //min-height: 242px;
    width: 100%;
    height: auto;

    background: transparent url("../images/idea/idea-txt.svg") no-repeat left top;
    background-size: 100% 100%;
  }

  @screen lg {
    @apply .w-full .p-0 .pb-8 .mt-0;

    background-image: none;
  }
}

.block-mission__body {
  @apply .py-6 .pl-6 .mt-4 .text-right;
  width: 55%;
  background: transparent url("../images/mission/txt-mission.svg") no-repeat right top;
  background-size: 486px 92px;

  @screen lg {
    @apply .w-full .p-0 .pb-8 .text-left .mt-0;

    background-image: none;
  }
}

.section-structure {
  display: none;
  background: transparent linear-gradient(76deg, config("colors.red"), config("colors.red-light"));;
}

.section-structure__container {
  @apply .mx-auto .relative .py-30;
  background: transparent url("../images/structure/txt-structure.svg") no-repeat center 13.5%;
  background-size: 678px 92px;
}

.section-structure__card {
  width: 336px;
}

.section-structure__card__img {
  @apply .flex .justify-center .items-center .bg-white .rounded-lg .shadow-grey-sm;

  height: 271px;
}

.section-structure__card__caption {
  @apply .px-2 .pt-8 .text-center .text-white;
  @extend .heading, .heading--xs;
}

.section-difference__container {
  @apply .relative .pt-30;

  background: transparent url("../images/difference/txt-different.svg") no-repeat center 5rem;
  background-size: 636px 91px;

  & .section-difference__title {
    @apply .text-center .mb-24;

    @screen lg {
      @apply .mb-12;
    }

    @screen md {
      @apply .mb-8;
    }
  }

  & .section-difference__cards {
    @extend .cards;

    & .card {
      @apply .mb-8;
      width: 30%;
      max-width: 373px;
      min-height: 300px;
      //min-width: 322px;
      //max-height: 304px;
      //min-height: 262px;

      @screen lg {
        //@apply .w-2/5;
        width: 45%;
      }

      @screen md {
        @apply .mb-4;
        width: 373px;
        min-height: 250px;
      }

      @screen sm {
        @apply .w-full;
        max-width: 315px;
      }
    }


  }

  @screen lg {
    @apply .py-15;
    background-image: none;
  }
}

.card--fungible {
  & .card__overlay {
    background-image: url("../images/difference/ico-fungible-big.svg");
    background-size: 152px 121px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__img {
    width: 64px; height: 51px
  }
}

.card--unlinkable {
  & .card__overlay {
    background-image: url("../images/difference/ico-unlinlable-big.svg");
    background-size: 136px 122px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__img {
    width: 58px; height: 52px
  }
}

.card--resistant {
  & .card__overlay {
    background-image: url("../images/difference/ico-resistant-big.svg");
    background-size: 152px 123px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__img {
    width: 64px; height: 52px
  }
}

.card--untraceable {
  & .card__overlay {
    background-image: url("../images/difference/ico-untraceable-big.svg");
    background-size: 129px 134px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__img {
    width: 50px; height: 52px
  }
}

.card--increase {
  & .card__overlay {
    background-image: url("../images/difference/ico-capital-big.svg");
    background-size: 157px 132px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__img {
    width: 62px; height: 53px
  }
}

.card--anonymous {
  & .card__overlay {
    background-image: url("../images/difference/ico-regulators-big.svg");
    background-size: 134px 134px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  & .card__img {
    width: 53px; height: 53px
  }
}

.section-wallet {
  // TODO: change it later to get color from config
  background-image: url("../images/wallet/img-wallet-bckr.png"), linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, left top;
  background-size: auto 617px, cover;
}

.section-wallet__container {
  @apply .mx-auto .relative .pt-30 .pb-22;
  @extend .section-container;
  background: transparent url("../images/wallet/txt-wallet.svg") no-repeat center 5rem;
  background-size: 477px 91px;

  & .section-wallet__title {
    @apply .text-white .mb-16;
    @extend .heading, .heading--md, .text-underline;

    @screen lg {
      @apply .mb-12;
    }

    @screen md {
      @apply .mb-8;
    }
  }

  & .section-wallet__desc {
    @apply .w-3/5 .mx-auto .text-white .my-12;
    @extend .paragraph;

    @screen lg {
      @apply .w-3/4 .my-8;
    }

    @screen md {
      @apply .w-full .my-6;
    }
  }

  .section-wallet__cards {
    //@apply .flex .justify-center .items-center;
    @apply .flex .justify-around .items-center .flex-wrap;

    & .wallet__card {
      @apply .flex-none .bg-white .border-4 .border-transparent .rounded .shadow-grey-spread .text-center .mb-8;
      width: 210px;
      height: 210px;

      &__download {
        @apply .mt-3;
      }

      &__version .badge {
        @apply .border-0;
      }

      & .downloads-count {
         @apply rounded-tr-none rounded-tl-none .rounded;
         @extend .badge, .badge--default;
      }

      &:hover {
        @apply .border-4 .border-yellow-light .shadow-grey-spread-lg;

        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);

        //& .downloads-count {
        //  @apply .border-4 .border-yellow-light;
        //}

        & .wallet__card__img {
          @apply .hidden;
        }

        .wallet__card__img-download {
          @apply .block;
        }
      }

      @screen lg {
        @apply .mb-10;
      }

      @screen md {
        @apply .mb-12;
      }

      -webkit-transition: all 0.3s ease, border 1ms ease;
      -moz-transition: all 0.3s ease, border 1ms ease;
      -o-transition: all 0.3s ease, border 1ms ease;
      transition: all 0.3s ease, border 1ms ease;
    }

    @screen lg {
      @apply .justify-between;
    }

    @screen md {
      @apply .flex-col;
    }
  }

  @screen md {
    @apply .pt-14 .pb-15;
    background-image: none;
  }
}


.wallet__card__img {
  @apply .mx-auto .mt-5;
}

.wallet__card__img-download {
  @apply .hidden;
  width: 79px;
  height: 78px;
  background-image: url("../images/wallet/ico-download.svg");
  background-size: 79px 78px;

  & a {
    @apply .block .w-full .h-full;
  }
}

.wallet__card__img-mac-os {
  width: 65px;
  height: 79px;
  background-image: url("../images/wallet/ico-apple.svg");
  background-size: 65px 79px;
}

.wallet__card__img-win-pc {
  width: 78px;
  height: 78px;
  background-image: url("../images/wallet/ico-windows.svg");
  background-size: 78px 78px;
}

.wallet__card__img-linux {
  width: 66px;
  height: 79px;
  background-image: url("../images/wallet/ico-linux.svg");
  background-size: 66px 79px;
}

.wallet__card__img-github {
  width: 78px;
  height: 77px;
  background-image: url("../images/wallet/ico-git.svg");
  background-size: 78px 77px;
}

.section-choose__container {
  @apply .flex .mx-auto .relative .py-30;
  @extend .section-container;

  .section-choose__mine-col {
    @apply .flex .flex-col .w-1/2 .pr-22 .border-r-2 .border-grey-lighter;

    &__title-wrap {
      @apply .relative;

      @screen md {
        order: 1;
      }
    }

    &__title {
      @extend .heading, .heading--md, .text-underline;
    }

    &__desc {
      @apply .mb-8 .mt-6;
      @extend .paragraph;

      @screen md {
        order: 3;
      }
    }

    &__btn {
      @apply .mb-4;

      @screen md {
        order: 4;
      }
    }

    &__img {
      @screen md {
        order: 2;
      }

      @screen sm {
        @apply .w-5/6 .mx-auto;
      }
    }

    @screen xl {
      @apply .pr-12;
    }

    @screen md {
      @apply .w-3/4 .mb-12 .border-none .p-0 .text-center;

      & .btn {
        @apply .mx-auto;
      }
    }

    @screen sm {
      @apply .w-full;
    }
  }

  .section-choose__trade-col {
    @apply .flex-col .w-1/2 .pl-30 .pr-6;

    &__title-wrap {
      @apply .relative .flex .items-start;

      @screen md {
        @apply .flex-col .items-center;
        order: 1;
      }
    }

    &__title {
      @extend .heading, .heading--md, .text-underline;
    }

    &__desc {
      @apply .mb-8 .mt-6;
      @extend .paragraph;

      @screen md {
        order: 2;
      }
    }

    &__table {
      @screen md {
        order: 3;
      }
    }

    @screen xl {
      @apply .pl-15 .pr-2;
    }

    @screen md {
      @apply .w-3/4 .p-0 .text-center;
    }

    @screen sm {
      @apply .w-full;
    }
  }

  @screen md {
    @apply .flex-col .items-center .py-15;
  }
}

.section-spend__container {
  @apply .mx-auto .relative .py-30;
  @extend .section-container;

  & .spend-cards {
    @apply .justify-center;
    outline: none;

    & .card {
      @apply .mr-12;
      width: 140px;
      height: 140px;
      min-height: 140px;

      @screen md {
        @apply .mr-6;
      }
    }
  }

  @screen md {
    @apply .py-15;
  }
}


.section-roadmap {
  @apply .relative;
  //background: transparent linear-gradient(76deg, config("colors.red"), config("colors.red-light"));;

  //background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
  //background-repeat: no-repeat;
  //background-position: left top;
  //background-size: cover;

  background-image: url("../images/roadmap/img-rpad-map-bg.png"), linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, left top;
  background-size: 100% 90%, cover;

  @screen md {
    background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }
}

.section-roadmap__container {
  @apply .mx-auto .relative .py-30;
  @extend .section-container;
  background: transparent url("../images/roadmap/txt-road-map.svg") no-repeat center 5rem;
  background-size: 621px 92px;

  //TODO: make this inside .section-container, common for all containers
  @screen lg {
    @apply .py-15;
    background-image: none;
  }
}

.section-about-us__container {
  @apply .relative .mx-auto .py-30;
  @extend .section-container;

  background: transparent url("../images/partners/txt-partners.svg") no-repeat center 5rem;
  background-size: 589px 91px;

  .our-partners {
    @apply .border-b-2 .border-grey-lighter .mb-24;

    @screen md {
      @apply .mb-8;
    }
  }

  & .partners-cards {
    @apply .mb-24 .justify-center;
    outline: none;

    & .card {
      @apply .mr-6;
      width: 276px;
      height: 176px;

      &:last-child {
        @apply .mr-0;
      }

      & > a {
        @apply .flex .items-center .justify-center;

        > img {
          height: 100%;
        }
      }

      box-shadow: 0px 6px 12px 0px rgba(60, 60, 60, 0.3);
    }

    @screen md {
      @apply .mb-8;
    }
  }

  & .section-about-us__desc {
    @apply .w-1/2;

    @screen lg {
      @apply .w-2/3;
    }

    @screen md {
      @apply .w-full;
    }
  }

  @screen lg {
    @apply .py-15;
  }
}

.our-team {
  @apply .relative;
  &__wrap {
    @apply .flex .flex-wrap .items-start;

    & > .delayed {
      @apply .mb-12;
      width: 25%;
      min-width: 200px;

      @screen lg {
        @apply .w-full .mb-6;
      }
    }

    & .team-member {
      //@apply .flex .flex-col .items-center .mx-8 .text-center;
      @apply .flex .flex-col .items-center .text-center;

      .team-member__img {
        @apply .rounded-lg .mb-4;
        @extend .bg-red-gradient--lighter;
        //width: 100%;
        max-width: 190px;
        min-width: 100px;
        max-height: 189px;
        min-height: 99px;

        > img {
          @apply .rounded-lg;
        }

        @screen lg {
          @apply .mb-0 .mr-4;
        }

        @screen md {
          width: 150px;
          height: 149px;
        }

        @screen sm {
          width: 100px;
          height: 99px;
        }
      }

      &__social-acc {
        &__item {
          @apply .flex .items-center .mt-1;
          & .icon {
            @apply .mr-1;
          }
        }
      }

      &__desc {
        @apply .my-auto;

        .team-member__name {
          @extend .heading, .heading--sm;
        }
        .team-member__role {
          @extend .info-text, .info-text--alt;
        }
        & .divider {
          @apply .hidden;
          @apply .my-2;
          width: 190px;
        }
        .team-member__info {
          @apply .hidden;
          @apply .mb-4;
          @extend .info-text, .info-text--alt;
        }

        @screen lg {
          @apply .text-left;
        }
      }

      @screen lg {
        @apply .w-full .flex-row;
      }
    }

    @screen lg {
      @apply .flex-col;
    }
  }

  &__lazy-img {
    @apply .absolute;
  }
}

.section-coin-dist {
  background: transparent url("../images/intro/bckr-1-st-block.svg") no-repeat;
  background-position: right bottom;
  background-size: 160% 60%;

  @screen lg {
    background-size: 160% 100%;
  }
}

.section-coin-dist__container {
  @apply .relative .mx-auto .py-30;
  @extend .section-container;

  & .coin-dist__inner {
    @apply .flex .rounded-xl .bg-white .shadow-grey-gigantic-sm;

    & .coin-dist__body {
      @apply .w-1/2 .p-22;
      @screen lg {
        @apply .w-full .pb-0;
      }
      @screen md {
        //@apply .w-2/3 .mx-auto;
        @apply  .pt-8 .px-16 .pb-0;
      }
      @screen xs {
        //@apply .w-full;
        @apply .pt-6 .px-8;
      }
    }

    //& .coin-dist__body, & .coin-dist__chart-wrap {
    //  @apply .w-1/2 .rounded-xl;
    //
    //  @screen lg {
    //    @apply .w-full .px-8 .pt-6 .pb-0;
    //  }
    //  @screen md {
    //    @apply .px-6 .pt-4 .pb-0;
    //  }
    //}

    & .coin-dist__body__title {
      @apply .mb-20;
      @extend .heading, .heading--md, .text-underline;
      @screen lg {
        @apply .mb-8;
      }
    }

    & .coin-dist__body__list {
      @apply .list-reset .m-0;
      &__item {
        @apply .block .mb-8;
        @extend .heading, .heading--sm;
        @screen md {
          @apply .mb-4;
        }
      }
    }

    & .coin-dist__chart-wrap {
      @apply .w-1/2 .p-0;
      @screen lg {
        @apply .w-full;
      }
    }

    & #coin-dist__chart {
      @apply .w-full .h-full;
      min-height: 550px;
      //width: 465px;
      //height: 504px;
      @screen lg {
        min-height: 450px;
      }
      @screen md {
        min-height: 300px;
      }
    }

    @screen lg {
      @apply .flex-col .shadow-grey-gigantic-sm;
    }
  }

  @screen lg {
    @apply .py-15;
  }
}


.section-other {
  @apply .bg-grey-lighter;
}

.section-other__container {
  @apply .mx-auto .relative .py-15 .flex;
  @extend .section-container;

  & .section-other__title {
    @screen sm {
      @apply .text-center;
    }
  }

  @screen md {
    @apply .flex-col;
  }
}

.section-other__donate {
  @apply .w-1/2 .mr-32;
  background: transparent url("../images/donate/txt-donate.svg") no-repeat left top;
  background-size: 467px 92px;

  & .QR-codes {
    @apply .flex .justify-between .items-center .flex-wrap;

    & .QR-code {
      @apply .mb-6;
      max-width: 153px;
      &__label {
        @apply .font-medium .text-grey-darkest .text-xl;

        &-mobile {
          @apply .text-lg;
        }
      }

      &__image {
        width: 153px;
        height: 154px;
      }

      @screen xl {
        @apply .mr-6;
      }

      @screen sm {
        @apply .mr-0;
      }
    }

    @screen sm {
      @apply .flex-col;
    }
  }

  @screen xl {
    @apply .mr-18;
  }

  @screen lg {
    background-image: none;
  }

  @screen md {
    @apply .w-full .mb-12;
  }

  //@screen sm {
  //  @apply .w-full;
  //}
}

.section-other__faq {
  @apply .w-1/2;
  background: transparent url("../images/donate/txt-faq.svg") no-repeat left top;
  background-size: 221px 115px;

  & .accordion {
    @apply .mt-8;

    &__item {
      @screen md {
        @apply .mb-2 .shadow-grey-blurred;
      }
    }

    @screen md {
      @apply .mt-0;
    }
  }

  @screen lg {
    background-image: none;
  }

  @screen md {
    @apply .w-full;
  }

  //@screen sm {
  //  @apply .w-full;
  //}
}


.footer {
  //background: transparent linear-gradient(76deg, config("colors.red"), config("colors.red-light"));;
  background-color: #2d2d2d;
}

.footer__top, .footer__bottom {
  @apply .flex .justify-between .flex-wrap;

  @screen sm {
    @apply .flex-col .items-center;
  }
}

.footer__top {
  @apply .pt-15 .pb-8;

  @screen sm {
    @apply .pt-12;
  }
}

.footer__bottom {
  @apply .py-6 .border-t .border-white;

  //& .logo-wrapper {
  //  @screen sm {
  //    @apply .mb-8;
  //  }
  //}

  & .social-links {
    @screen sm {
      @apply .hidden;
    }

    //& .social-link {
    //  @apply .mb-4;
    //}
  }

  //@screen sm {
  //  & .social-links {
  //    @extend .social-links--vertical;
  //  }
  //}
}

.footer__top__item {
  max-width: 190px;
  width: 190px;

  @screen lg {
    width: 150px;
  }

  @screen md {
    @apply .mb-8;
  }

  @screen sm {
    @apply .w-2/3;
  }
}

.footer__top__item__btns {
  @apply .flex .flex-col .items-stretch;

  @screen md {
    @apply .ml-auto;
  }

  @screen sm {
    @apply .m-0;
  }
}

.footer__copyright {
  @apply .font-normal .text-white;
  @extend .info-text;
}

// Import overwrites
@import "utils/overwrites";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
